body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(to left, rgba(21,185,234,1) 0%, rgba(216, 30, 162, 1) 100%);
}

button {
	cursor: pointer;
}